body {
    background: #343434;
    margin: 0 auto;
}
div.container {
    display: grid;
    grid-template-areas: 
        "header header header header"
        "content0 content1 content2 nav"
        "form table content3 none"
        "footer footer footer foter"
        ;
    
    grid-template-columns: 2fr 2fr 2fr 1fr;
    grid-gap: 5px;
    
}
div > div {
    border: 2px solid black;
   
}

div#last_30_days {
    text-align: center;
   
}

span {
   margin-left: 15px;
}
div#data {
  
    background: #212121;
    color: white;
    border: 3px solid yellow;

}
div#last_30_days {
 
    background: #212121;
    color: white;
    border: 3px solid purple;
     
    
}
div#last_min_max, div#last_min_max_year  {
    background: #212121;
    color: white;
    border: 3px solid olive;
        text-align: center;

}
div#last_min_max p, div#last_min_max_year p{
    font-weight: 700;
}
div#last_30_days > h4 {
    text-align: center;
}
div#l30data {
    /*width: 100%;*/
    text-align: center;
}

div#add_form {
     
   /* width: 40%;*/ 
    padding-left: 25px;
    margin-top: 15px; 
    border: 4px solid green;
    color: white;
}
div#add_form input {
    color: black;
}

.header {
         grid-area: header;
         color: yellowgreen;
    text-align: center;
}

.content0 {
     grid-area: content0;
}
.content1 {
     grid-area: content1;
}
.content2 {
    grid-area: content2;
}
.content3 {
    grid-area: content3;
}
.form {
    grid-area: form;
    color: red;
}
.table {
    grid-area: table;
    color: white;
}